.homeContainer h1 {
  margin: 0;
  font-size: 500%;
  letter-spacing: 12px;
  padding: 100px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  text-shadow: 0 0 3px #000;
}

button {
  background-color: #96b70d;
  height: 50px;
  width: 200px;
  border-radius: 30px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  margin: 10px;
}

button:hover {
  border: 1px solid #fff;
}

.homeContainer {
  min-height: 100vh;
  width: 100%;
  background-color: #f2b706;
  color: #fff;
  text-align: center;
  margin: auto;
  background-image: url('../../temp/bg.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  background-size: 100vh;
}

@media screen and (max-width: 320px) {
  .homeContainer h1 {
    font-size: 450%;
  }
}

@media screen and (max-width: 768px) {
  .homeContainer {
    background-size: 60vh;
  }
}
