.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  border-right: 1px solid #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
  z-index: 1000;
  background-color: white;
  display: block;
}

.sidebar h3 {
  margin: 20px 0 50px auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #96b70d;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.footer {
  margin-top: 400px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 200px;
  color: white;
  text-align: center;
}

.toggler {
  position: fixed;
  top: 10px;
  right: 20px;
  width: auto;
  background-color: white;
  display: none;
}

.displayNone {
  display: none;
}

.displayBlock {
  display: block;
}

@media screen and (max-width: 800px) {
  .sidebar {
    display: none;
  }

  .toggler {
    display: block;
  }
}
